# trained models
./models

# pre-trained models
checkpoint_ic_d161.pth
final_checkpoint_ic_d161.pth

# file containing prediction function that might be used at some point
dummy_file.py

# Jupyter notebook checkpoints