# trained models
./models

# model checkpoints
checkpoint_ic_d161.pth
final_checkpoint_ic_d161.pth
final_model.pth
new_model_02_06.pth
new_model_04_06.pth
latest_skintone_model.pth

# notebook containing EDA of initial dataset 
ML/EDA_sample_data.ipynb

# file containing prediction function that might be used at some point
ML/dummy_file.py

# .pyc cache files
__pycache__

# virtual environment
recommend-venv/


