<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
    <title>Precise Beauty Makeup Product Recommender</title>
</head>
<body>
    <center>
        <div style="background-color: #00BBF9; height: 60px;">
            <font size="15px" class="letter" >
                <letter-spacing="0.5">Precise Beauty</letter-spacing>
            </font>
        </div>
        <!-- <br><br> -->
        <h3 style="color:#00BBF9">Looking for more makeup products or want to gift a loved one??</h3>
        <p> Upload your image below and find your desired makeup products in no time!</p>
    </center>
    
    <form method="post" action="">
        <center><button class=""><input type=file name=file></button>
            <input type=submit value=Upload >
        </center>
    </form>
    <br>
    <!-- <img src="" alt="a rotating compact powder and applicator"> -->
    <center>
        <iframe src="https://giphy.com/embed/xUA7b1rXAC0So4TZ04" width="380" height="174" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Essence-essence-fest-xUA7b1rXAC0So4TZ04"></a></p>
        <br><br>
        <p><font color="#861657" size="+1">Enter your email address below to receive your recommendations via email</font></p>
        <form action="">
            <label for="email">Your Email:</label>
            <input type="email" name="user-email" placeholder="johndoe@gmail.com">
            <br>
            <br>
        </form>
    </center>
    
</body>
</html>