<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <title>Precise Beauty Makeup Product Recommender</title>
</head>

<body class="text-center">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <center style="padding: 5px;"><h3 size="5px" class="text-primary"><u>Precise Beauty: makeup classifier</u></h3></center>    
    </nav>
    
    <center>
        <br>
        <h4 class="mw-md-md display-5 lh-sm mb-0 font-heading" style="color:#ee8438">Do you get confused or have a hard time deciding which foundation shade to purchase when shopping?</h4>
        <div data-stale="false" class="element-container css-z8kais e1tzin5v1" style="width: 349px;">
            <div class="stMarkdown" style="width: 349px;">
            <div data-testid="stMarkdownContainer" class="css-3mnucz e16nr0p30">  
                <br>
                <p class="mb-0 lh-lg mw-md-md"> Upload your image below and find your matching makeup products in no time!</p>
                <!-- <iframe src="https://giphy.com/embed/xUA7b1rXAC0So4TZ04" width="380" height="174" frameBorder="0" class="giphy-embed" alt="Woman applying foundation" allowFullScreen></iframe>
                <p><a href="https://giphy.com/gifs/Essence-essence-fest-xUA7b1rXAC0So4TZ04" ></a></p> -->
                <form class="form-inline" method="post" action="/results">
                        <input class="btn"><input class="form-control mr-sm-2" type=file name=file aria-label="Upload"></input>
                        <br><br>
                        <input class="btn btn-primary" type="submit" value="Upload Image"></input>
                </form>
            </div>
            </div>
        </div>
    </center>
    
        
</body>
</html>