<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/styles.css">
    <title>Precise Beauty Makeup Product Recommender</title>
</head>

<body class="text-center">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <center style="padding: 5px;"><h3 size="10px" class="text-primary"><u>Precise Beauty: makeup classifier</u></h3></center>    
    </nav>

    <h4 class="mw-md-md display-5 lh-sm mb-0 font-heading" style="color:#ee8438">Looking for more makeup products or want to gift a loved one??</h4>
    <p class="mb-0 lh-lg mw-md-md"> Upload your image below and find your desired makeup products in no time!</p>
    <br>
    <iframe src="https://giphy.com/embed/xUA7b1rXAC0So4TZ04" width="380" height="174" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/Essence-essence-fest-xUA7b1rXAC0So4TZ04"></a></p>
    <br>
    
    <form class="form-inline" method="post" action="">
        <center>
            <button class="btn"><input class="form-control mr-sm-2" type=file name=file aria-label="Upload"></button>
            <button class="btn btn-primary" type="submit">Upload image</button>
        </center>
    </form>

    <br>
    <div style="background-color: #24c7fe; height: 150px;">
        <center>
            <br>
            <p><font size="+1"><em>Enter your email address below to receive your recommendations via email</em></font></p>
            <form action="">
                <label for="email">Your Email:</label>
                <input type="email" name="user-email" placeholder="johndoe@gmail.com">
                <button class="btn btn-lg btn-primary btn-sm" type="submit">Send recommendations</button>
            </form>
        </center>
    </div>
    
    
</body>
</html>